<!-- Inclusion du header -->
<div th:replace="~{fragments/header :: headerImports}"></div>


    <div class="container">
        <main>
            <h1 class="center h1">Inscription</h1>

            <form th:action="@{/ajouter}" th:object="${etudiant}" method="post">

                <div>
                    <label for="nom">Nom :
                        <input type="text" th:field="*{nom}" id="nom" class="form-control">
                    </label>
                </div>

                <div>
                    <label for="prenom">Prénom :
                        <input type="text" th:field="*{prenom}" id="prenom" class="form-control">
                    </label>
                </div>

                <div>
                    <label for="age">Age :
                        <input type="text" th:field="*{age}" id="age" class="form-control">
                    </label>
                </div>

                <div>
                    <label for="email">Email :
                        <input type="email" th:field="*{email}" id="email" class="form-control">
                    </label>
                </div>

                <button class="btn">Envoyer</button>

            </form>


            <p><a th:href="@{/ajouter?nom=Toto&prenom=Tata&age=25&email=toto@email.com}">Inscription manuel sans formulaire</a></p>

        </main>
    </div>


<!-- Inclusion du footer -->
<div th:replace="~{fragments/footer :: footerImports}"></div>