<!-- Inclusion du header -->
<div th:replace="~{fragments/header :: headerImports}"></div>


    <div class="container">
        <main>
            <h1 class="h1 center">Liste des étudiants</h1>

            <ul th:if="${etudiants != null}">
                <li th:each="e : ${etudiants}">
                    <span th:text="${(e.getPrenom())}"></span> <span th:text="${(e.getNom())}"></span> (<a th:href="@{/detail/{id}(id=${e.getId()})}">Voir détails</a>)
                </li>
            </ul>

        </main>
    </div>


<!-- Inclusion du footer -->
<div th:replace="~{fragments/footer :: footerImports}"></div>