<!-- Inclusion du header -->
<div th:replace="~{fragments/header :: headerImports}"></div>


    <div class="container">
        <main>
            <h1 class="h1 center">Liste des étudiants</h1>

<!--            <ul th:if="${etudiants != null}">-->
            <ul th:unless="${etudiants.isEmpty()}">
                <li th:each="e : ${etudiants}">
                    <span th:text="${(e.getPrenom())}"></span> <span th:text="${(e.getNom())}"></span> (<a th:href="@{/detail/{id}(id=${e.getId()})}">Voir détails</a>)
                </li>
            </ul>

<!--            <div class="grid-3-col" th:if="${etudiants != null}">-->
<!--                <div class="grid-cell head">Prénom</div>-->
<!--                <div class="grid-cell head">Nom</div>-->
<!--                <div class="grid-cell head">Info</div>-->

<!--                <div th:each="e : ${etudiants}">-->
<!--                    <div class="grid-cell"><span th:text="${(e.getPrenom())}"></span></div>-->
<!--                    <div class="grid-cell"><span th:text="${(e.getNom())}"></div>-->
<!--                    <div class="grid-cell"><a th:href="@{/detail/{id}(id=${e.getId()})}">Voir détails</a></div>-->
<!--                </div>-->
<!--            </div>-->

            <div th:if="${etudiants.isEmpty()}">
                <p>Aucun étudiant trouvé</p>
            </div>

        </main>
    </div>


<!-- Inclusion du footer -->
<div th:replace="~{fragments/footer :: footerImports}"></div>